{% extends 'blogs/base.html' %}

{% block content %}

    <div class="container-fluid text-center pt-4">
       <span class="display-3 text-light">BLOG HOME</span>
    </div>

    <div class="container w-29 m-1 mt-4 mb-4">
        <span class="display-5 text-light">
            Blog Feed
        </span>
    </div>

    <div class="container m-0">
        <a href="{% url 'add_post' %}" class="btn btn-primary">Add New Post</a>
    </div>

    <div class="container mt-4">
        {% for post in posts %}
        <div class="container text-bg-dark rounded border-bottom border-top border-5-light mb-5 pt-3">
            
            <div>
                <span class="display-6">{{ post.title|linebreaks }}</span>
                <p>{{ post.text }}</p>
            </div>
            <div>
                <p>{{ post.date_added|date:'M-d-Y, H:i' }}</p>

                <p>By: {{ post.owner }} </p>
            </div>

            <div class="container mb-4">
                {% if post.owner == user %}
                    <a href="{% url 'edit_post' post.id %}" method="post" class="btn btn-warning">Edit Post</a>
                {% endif %}
            </div>
        </div>
        
        {% empty %}
        <div>
            <p>No Blog posts available.</p>
        </div>
        {% endfor %}
    </div>

{% endblock %}