{% extends 'blogs/base.html' %}

{% block content %}

    <div>
        <h1>Blog Home</h1>
    </div>

    <div>
        <h2>Posts:</h2>
    </div>

    <div>
        <a href="{% url 'add_post' %}">Add New Post</a>
    </div>

    <div>
        {% for post in posts %}
        <div>
            <p>{{ post.date_added|date:'M-d-Y, H:i' }}</p>
            <p>{{ post.title|linebreaks }}</p>
            <p>{{ post.text|linebreaks }}</p>
        </div>
        <div>
            {% if post.owner == user %}
                <a href="{% url 'edit_post' post.id %}" method="post">Edit Post</a>
            {% endif %}
        </div>
        {% empty %}
        <div>
            <p>No posts available.</p>
        </div>
        {% endfor %}
    </div>

{% endblock %}